header {
    background-color: #0c676e ;
    color: white;
    text-align: right;
    padding: 15px;
    margin-bottom: 100px;
}

body{

    background-color: whitesmoke;
        .container{
            background-color:#0c676e;
            border-radius: 2cap;
            padding: 50px;
            color: white;
            
        }
        #login-form{
           
            color: white;
        }
          
              
    }


footer {
    
        background-color: #0c676e;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 1px 0px 1px 0px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}

